body {
    font-family: Arial, sans-serif;
}

#filters {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#filters select, #filters input, #filters button {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

#filters input[type="number"] {
    width: 100px;
}

#filters button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filters button:hover {
    background-color: #45a049;
}

#filters .clear-button {
    background-color: #FF6347;
}

#filters .clear-button:hover {
    background-color: #E55335;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.card:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 1rem;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 30rem;
    object-fit: contain;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    margin: auto;
    display: block;
    height: 90%;
    padding: 1rem;
}

#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

